#dispatch-calendar {
margin-right:20px;
width:68%;
display:inline;
float:left;
}

#assets-container {
display:inline;
width:30%;
float:right;
}

#assets-container-toggle {
-moz-border-bottom-colors:none;
-moz-border-left-colors:none;
-moz-border-right-colors:none;
-moz-border-top-colors:none;
background:none;
border-image:none;
border-style:solid solid solid none;
border-width:0;
cursor:pointer;
display:inline-block;
font-weight:bold;
padding:5px 2px !important;
width:10px;
z-index:100;
margin-right:10px;
}

#showAvailableCrew,
#showAvailableTrucks {
display:inline;
margin-bottom:5px;
}

.clr {
clear:both;
}

.filters input {
display:inline;
width:20%;
}

#dispatch-container,
#dispatch-orders-container {
overflow:auto;
padding:10px 20px 40px 20px;
}

#dispatch-tab {
float:right;
padding:0;
display:inline-block;
text-align:right;
}

#dispatch-tab input {
border-radius:5px;
}

.ico-crew,
.ico-truck {
max-height:96px;
margin:auto;
display:block;
}

#no-results td {
text-align:center;
font-weight:700;
background:#ffcccc;
border:1px solid #aaa;
}

#showAvailablePeople,
#showAvailableTrucks {
width:15px;
display:inline;
}

.clear-filter {
cursor:pointer;
background:#aaa;
padding:5px;
vertical-align:top;
border-radius:2px;
display:inline-block;
}

#dispatch-container label {
display:inline;
}

.available {
background:url(../images/ico_check.png) no-repeat 5px center;
background-size:16px 16px;
height:16px;
width:16px;
}

.unavailable {
background:url(../images/ico_x.png) no-repeat 5px center;
background-size:16px 16px;
height:16px;
width:16px;
}

.warning {
background:url(../images/ico_warn.png) no-repeat 5px center;
background-size:16px 16px;
height:16px;
width:16px;
}

fieldset {
border:2px solid #1F497D;
background:rgba(238,238,238,1);
border-radius:8px;
padding:0 10px 10px;
margin-bottom:20px;
}

fieldset legend {
background:#1F497D;
line-height:23px;
color:#fff;
padding:2px 0 2px 5px;
width:40%;
font-size:14px;
border-radius:5px;
margin:20px 0 20px 5px;
}

#dispatch-container table {
width:100%;
}

#dispatch-container th {
text-align:left;
}

#dispatch-container td {
padding:5px;
}

#dispatch-left {
display:inline;
float:left;
width:60%;
}
#dispatch-orders th {
white-space:nowrap;
background-color:rgba(32,78,129,0.8);
color:#fff;
padding:5px;
text-align:left;
border-right:1px solid rgba(124,155,190,1);
}
#dispatch-orders table {
border-collapse:separate;
border-spacing:1px;
width:100%;
display:inline;
}
#dispatch-orders tr:nth-child(even) {
background-color:rgba(238,238,238,1);
}
#dispatch-orders tr:nth-child(odd) {
background-color:rgba(250,250,251,1);
}
#dispatch-orders td {
padding:5px;
cursor:move;
border-right:1px solid #ddd;
border-top:1px solid #ddd;
}
#dispatch-orders th:last-of-type,
#dispatch-orders td:last-of-type {
border-right:none
}
#dispatch-right table td:first-of-type {
width:24px;
height:24px;
}







#dispatch-orders-container #scrollable-orders {
overflow:scroll;
height:330px;
}
#dispatch-orders-container form input {
border-radius:5px;
}
#dispatch-orders-container form label,
#dispatch-orders-container form input {
display:inline;
}
#dispatch-people tr td:hover,
#dispatch-truck tr td:hover {
cursor:move
}
#dispatch-truck th:first-child,
#dispatch-people th:first-child {
width:24px%;
}
#dispatch-truck td {
width:29%;
}
#dispatch-people td {
width:16%;
}
#scrollable-orders table td input {
margin:auto;
display:block;
border:1px solid #aaa;
border-radius:5px;
margin-bottom:0 !important;
}
#scrollable-orders table td input,
#dispatch-orders-container th,
#dispatch-orders-container td,
#dispatch-orders-container th,
#dispatch-orders-container td,
#dispatch-people th,
#dispatch-people td,
#dispatch-truck th,
#dispatch-truck td,
#dispatch a {
font-size:0.8em
}

/** Overrides **/
.fc-event,
.fc-event:hover,
.ui-widget
.fc-event {
color:#000 !important;
}

.ui-draggable-helper {
border:1px dotted #000;
padding:5px 20px;
background:#ccc;
font-size:1.2em;
}

div.datepicker {
cursor:pointer;
line-height:16px;
}